@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet');

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
  background-color: #2e2c2f;
}

.title {
  color: white;
  text-align: center;
}

#editor {
  height: 100%;
  resize: none;
  border: 1px solid black;
}

#preview {
  height: 100%;
  overflow-y: auto;
  border: 1px solid black;
  background-color: #eef5db;
}
